$primaryBgColor: #fff;
$secondaryBgColor: #162c4e;
$buttonBgColor: #1D4169;
$elementBgColor: #df2224;

$primaryTextColor: #000000;
$secondaryTextColor: #ffffff;
$blueTextColor: #162c4e;
$inputPlaceholderTextColor: rgba(0, 0, 0, 0.6);
$titleTextColor: rgba(22, 44, 78, 0.39);

$inputBorderColor: rgba(0, 0, 0, 0.8);

$inputBorderWeight: 1px;

$primaryTextFont: 400 18px/27px Poppins;
