$primaryBgColor: #fff;
$secondaryBgColor: #162c4e;
$buttonBgColor: #1d4169;
$elementBgColor: #df2224;
$modalBgColor: rgba(22, 44, 78, 0.6);

$primaryTextColor: rgba(0, 0, 0, 0.8);
$secondaryTextColor: #ffffff;
$blueTextColor: #162c4e;
$inputPlaceholderTextColor: rgba(0, 0, 0, 0.6);
$titleTextColor: rgba(22, 44, 78, 0.39);

$inputBorderColor: rgba(0, 0, 0, 0.8);

$inputBorderWeight: 1px;

$primaryTextFont: 400 18px/27px Poppins;
