@import '../../styles/media.scss';

.headerBlock {
  min-height: 142px;
  height: 142px;
}

.logoContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 80px;
}
.logoIcon {
  width: 128px;
  height: 40px;
  object-fit: contain;
}

@include m-media(sm) {
  .headerBlock {
    min-height: 231px;
    height: 231px;
  }
  .logoContainer {
    padding-top: 62px;
  }
  .logoIcon {
    width: 190px;
    height: 60px;
  }
}

@include m-media(xxxl) {
  .headerBlock {
    min-height: 161px;
    height: 161px;
  }
  .logoContainer {
    padding-top: 60px;
  }
}
