@import '../src/styles/variables.scss';
@import '../src/styles/media.scss';

:root {
  font-family: Inter, system-ui, Arial, Poppins, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $primaryTextColor;
  background-color: $primaryBgColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  height: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input:focus::placeholder {
  color: transparent !important;
}

.container {
  width: 100%;
  max-width: 340px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

@include m-media(sm) {
  .container {
    max-width: 443px;
  }
}
@include m-media(xxxl) {
  .container {
    max-width: 862px;
  }
}
